/* Your styles goes here. */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.loading {
  animation: rotate 3s infinite
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}